<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitchdle - Codziennie odgaduj polskich streamerów Twitch Tv!</title>
    <link rel="stylesheet" href="../static/main_styles.css">
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
    <link rel="manifest" href="../static/site.webmanifest">
</head>
<body>
    <div class="logo">
        <a href="/">
            <img src="static/logo.png" alt="Twitchdle">
        </a>
    </div>
    <p class="header-text">
        Codziennie odgaduj polskich streamerów Twitch Tv!
    </p>
    <div class="container">
        <a href="/categories" class="btn btn-info quote-game-btn">
            <div class="button-content">
                <img src="static/button7.png" alt="Klasyczny" class="button-img">
                <span class="button-text">
                    Klasyczny
                    <span class="sub-text">Otrzymuj wskazówki przy każdej próbie</span>
                </span>
            </div>
        </a>
    </div>
    <div class="container">
        <a href="/emotes" class="btn btn-info quote-game-btn">
            <div class="button-content">
                <img src="static/button8.png" alt="Emotki" class="button-img">
                <span class="button-text">
                    Emotki
                    <span class="sub-text">Odkrywaj emotki przy każdej próbie</span>
                </span>
            </div>
        </a>
    </div>
    <div class="container">
        <a href="/quote" class="btn btn-info quote-game-btn">
            <div class="button-content">
                <img src="static/cytat.png" alt="Cytat" class="button-img">
                <span class="button-text">
                    Cytat
                    <span class="sub-text">Odgadnij streamera po cytacie</span>
                </span>
            </div>
        </a>
    </div>
    <footer>
        <p>Stworzył pawelqq1</p>
        <p>
<!--            <a href="https://github.com/pawelqq1" class="github" target="_blank">GitHub</a> |-->
            <a href="https://twitter.com/pawelqq1" target="_blank">Twitter</a>
        </p>
            <a href="/privacy_policy" style="color: #ffffff; font-size: 10px; padding: 10px; text-align: center;">Polityka prywatności</a>
    </footer>
</body>
</html>
